# 조건문 REVIW

------

## if문의 기본구조

## 다중 조건 판단 (elif)

## 반복문장 수행 _ While문 사용

# Input함수

In [18]:
input()

3

'3'

In [34]:
a = input()

3

In [35]:
a

'3'

In [36]:
print(a * 3)

333

In [37]:
type(a)

str

In [38]:
a = int(a)

In [40]:
type(a)

int

In [41]:
print(a*3)

9

In [42]:
a = str(a)

In [43]:
type(a)

str

In [44]:
print(a*3)

333

### Q.알파벳 하나 입력 받는다. 입력 받기 위해서 input()이라는 함수를 활용한다. 이 알파벳이 "management information system" 문장 안에 포함되어 있으면 yes, 그렇지 않으면 no 를 출력하시오.

In [60]:
a = input()

b = "management information system"

if a in b:
    print("yes")
else:
    print("no")

e
yes

### Q.과일 이름을 입력받아 딸기, 바나나, 사과 중 포함될 경우 yes, 그렇지 않으면 no 를 출력하시오 * 과일에 대한 자료형은 리스트를 사용하고 리스트에 과일을 추가할 때는 리스트 내장함수를 활용하시오!

In [1]:
fruit = []
fruit.append('딸기')
fruit.append('바나나')
fruit.append('사과')
fruit

['딸기', '바나나', '사과']

In [73]:
input_fruit = input()

if input_fruit in fruit:
    print("yes")
else:
    print("no")

사과
yes

### Q. 숫자를 하나 입력 받는다. 이 숫자가 짝수인지 홀수인지를 출력하시오!

In [82]:
num = input()

if int(num) % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

3
홀수입니다.

### Q. 반복문을 사용하여 입력받은 숫자만큼 "hi" 를 출력하시오.

In [86]:
n = int(input())

while n>0:
    print('hi')
    n-=1

3
hi
hi
hi

## while문 연습

In [91]:
treeHit = 0
while treeHit < 10:
    treeHit +=1
    print('나무를 %d번 찍었습니다.' % treeHit)
print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

### break while문 빠져나가기

In [93]:
coffee = 10  ##남은 커피 잔 수
money = 300 ##투입 금액

while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee -= 1
    print("남은 커피는 %s잔 입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어져 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피는 9잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 8잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 7잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 6잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 5잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 4잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 3잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 2잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 1잔 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 0잔 입니다.
커피가 다 떨어져 판매를 중지합니다.

## while문의 조건문으로 돌아가기 (continue)

## 어떤 조건을 검사하여 다시 while문의 맨 처음 조건문으로 돌아가고 싶을 때 continue 사용

In [98]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 ==0:
        continue
    print(a)

1
3
5
7
9

## for문 (반복문)

## 정해진 대로 반복하여 해당 작업을 수행
## 순서 자료형(리스트, 튜플, 문자열)의 첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입한 뒤, 해당 작업을 수행

In [101]:
test_list = ['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [102]:
txt = 'management'

for i in txt:
    print(i)

m
a
n
a
g
e
m
e
n
t

### 총 5명의 학생의 시험 점수에 대해서, 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지에 대한 결과를 보여준다. 개인 간 구분은 몇 번째 학생인지로 한다.

In [107]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%s번 학생은 합격입니다." %number)
    else:
        print("%s번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

### for 과 continue

In [108]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    else:
        print("%s번 학생 축하합니다." % number)

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

## for 과 range 함수

## 숫자 리스트를 자동으로 만들어주는 함수

In [110]:
a = range(11)
print(a)
print(list(a))

b = range(5,11)
print(list(b))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]

## example 1부터 10까지 더하는 코드를 작성하라

In [1]:
sum = 0
for i in range(1,11):
    sum = sum + i
    
print(sum)

55

In [26]:
a = [1,2,3]

AttributeError: type object 'int' has no attribute 'a'

## 60점 이상인 사람에게는 축하메세지를 보내고, 나머지 사람에게는 아무런 메세지를 보내지 않는 코드

In [1]:
marks = [90,25,67,45,80]

for i in range(len(marks)):
    if marks[i] < 60:
        continue
    else:
        i += 1
        print("%s번째 학생 축하합니다"%i)

1번째 학생 축하합니다
3번째 학생 축하합니다
5번째 학생 축하합니다

## 반복문 연습

## n = int(input())

for i in range(n):
    print(i+1)

In [3]:
n = int(input())

for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

## Q1

In [17]:
n = int(input())
i = 1
while i <= n:
    print(i)
    i += 1

5
1
2
3
4
5

## 반복문 연습

In [24]:
for i in range(5):
    for j in range(5):
        print("*", end = ' ')
    print('\n')

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [31]:
n = int(input())

for i in range(1,10):
    print(n*i)

3
3
6
9
12
15
18
21
24
27

In [37]:
n = int(input())

for i in range(1,10):
    print(n, "X",i, "=", n*i)

3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

# Q2

In [240]:
for i in range(0,5):
    for j in range(1,6):
        print(i*5 + j, end = ' ')
    print('\n')

1 2 3 4 5

6 7 8 9 10

11 12 13 14 15

16 17 18 19 20

21 22 23 24 25

## Q3

In [186]:
for i in range(2,10):
    for j in range(1,10):
        print(i, "X",j, "=%d" %(i*j), end = '  ')
    print('\n')

2 X 1 =2  2 X 2 =4  2 X 3 =6  2 X 4 =8  2 X 5 =10  2 X 6 =12  2 X 7 =14  2 X 8 =16  2 X 9 =18

3 X 1 =3  3 X 2 =6  3 X 3 =9  3 X 4 =12  3 X 5 =15  3 X 6 =18  3 X 7 =21  3 X 8 =24  3 X 9 =27

4 X 1 =4  4 X 2 =8  4 X 3 =12  4 X 4 =16  4 X 5 =20  4 X 6 =24  4 X 7 =28  4 X 8 =32  4 X 9 =36

5 X 1 =5  5 X 2 =10  5 X 3 =15  5 X 4 =20  5 X 5 =25  5 X 6 =30  5 X 7 =35  5 X 8 =40  5 X 9 =45

6 X 1 =6  6 X 2 =12  6 X 3 =18  6 X 4 =24  6 X 5 =30  6 X 6 =36  6 X 7 =42  6 X 8 =48  6 X 9 =54

7 X 1 =7  7 X 2 =14  7 X 3 =21  7 X 4 =28  7 X 5 =35  7 X 6 =42  7 X 7 =49  7 X 8 =56  7 X 9 =63

8 X 1 =8  8 X 2 =16  8 X 3 =24  8 X 4 =32  8 X 5 =40  8 X 6 =48  8 X 7 =56  8 X 8 =64  8 X 9 =72

9 X 1 =9  9 X 2 =18  9 X 3 =27  9 X 4 =36  9 X 5 =45  9 X 6 =54  9 X 7 =63  9 X 8 =72  9 X 9 =81

# 개인톡 문제 60161051_경영정보학과_김동현

In [183]:
for i in range(2,8):
    for j in range(1,10):
        print(i*j, end = '  ')
    print('\n')

2  4  6  8  10  12  14  16  18

3  6  9  12  15  18  21  24  27

4  8  12  16  20  24  28  32  36

5  10  15  20  25  30  35  40  45

6  12  18  24  30  36  42  48  54

7  14  21  28  35  42  49  56  63

In [2]:
# 2중 for문 이용한 구구단 출력
for i in range (1,10):
    for j in range(1,10):
        print(i,"X",j,"=",i*j, end="  ")
    print("\n")

1 X 1 = 1  1 X 2 = 2  1 X 3 = 3  1 X 4 = 4  1 X 5 = 5  1 X 6 = 6  1 X 7 = 7  1 X 8 = 8  1 X 9 = 9

2 X 1 = 2  2 X 2 = 4  2 X 3 = 6  2 X 4 = 8  2 X 5 = 10  2 X 6 = 12  2 X 7 = 14  2 X 8 = 16  2 X 9 = 18

3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27

4 X 1 = 4  4 X 2 = 8  4 X 3 = 12  4 X 4 = 16  4 X 5 = 20  4 X 6 = 24  4 X 7 = 28  4 X 8 = 32  4 X 9 = 36

5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45

6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54

7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63

8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72

9 X 1 = 9  9 X 2 = 18  9 X 3 = 27  9 X 4 = 36  9 X 5 = 45  9 X 6 = 54  9 X 7 = 63  9 X 8 = 72  9 X 9 = 81

In [10]:
for i in range(1,7):
    for j in range(1,10):
        print(i*j+1,end=" ")
    print("\n")

2 3 4 5 6 7 8 9 10

3 5 7 9 11 13 15 17 19

4 7 10 13 16 19 22 25 28

5 9 13 17 21 25 29 33 37

6 11 16 21 26 31 36 41 46

7 13 19 25 31 37 43 49 55