# 머신러닝 중간고사 대비

In [38]:
# 문자열(string)
# 인용부호에 둘러싸인 문장

string = 'python'
string_2 = "is fun"
a = 'ABC\n'
# 문자열 연산 가능
print(string + string_2)
print(a*3)

pythonis fun
ABC
ABC
ABC

In [7]:
#여러 줄로 이루어진 문자열 처리
# \n 사용 (원표시)

multi_line = 'Life is too short\nYou need python'
print(multi_line)

Life is too short
You need python

In [11]:
# 문자열에 '',"" 를 포함시키는 방법

# case 1 
a = "python's favorite food is perl"
print(a)

# case 2
# 역슬래시 \ 사용
b = "python\'s favorite food is perl"
print(b)

# \(원표시)를 escape code라 함

python's favorite food is perl
python's favorite food is perl

In [36]:
a = 'python\nis fun!\n'
print(a*3)

python
is fun!
python
is fun!
python
is fun!

In [44]:
# 인덱싱(Indexing)
# 특정 문자열 내의 내가 원하는 문자 찾기
# 파이썬은 0부터 센다!!
# 공백 포함!!
a = "Python is fun!"
a.index("i")

7

In [48]:
sent = "Python is fun!"
print(sent[0], sent[1], sent[-1])

P y !

In [49]:
# sent 변수에서 파이썬만 뽑아보시오!
sent[0:6]  #첫번째부터 첫번째 포함 6글자 반환

'Python'

In [53]:
# 슬라이싱(Slicing)

sent = "Python is fun!"
print(sent[0:6])
print(sent[:])
print(sent[:6])
print(sent[10:13])
print(sent[7:])

Python
Python is fun!
Python
fun
is fun!

In [66]:
# 슬라이싱 예제
a = "20200501Sunny"
year = a[0:4]
month = a[4:6]
date = a[6:8]
weather = a[8:14]
print(year)
print(month)
print(date)
print(weather)

2020
05
01
Sunny

In [79]:
# 응용 문제
# 주민번호를 '-' 기준으로 나누고 줄을 띄워서 출력하시오
a = "123456-1234567"
print(a[0:6]+'\n'+a[7:14])

123456
1234567

In [83]:
# 문자열 포매팅(Formatting)

print("현재온도는 %s도 입니다."%input())

# %d = int, %f =float, %s = str

10
현재온도는 10도 입니다.

In [86]:
number = 3
day = "yesterday"

print("I ate %s apples %s"%(number,day))

I ate 3 apples yesterday

In [ ]:
스쿼트 = int(input("당신의 스쿼트 1RM을 입력하세요"))
벤치프레스 = int(input("당신의 벤치프레스 1RM을 입력하세요"))
데드리프트 = int(input("당신의 데드리프트 1RM을 입력하세요"))
삼대운동 = 스쿼트+벤치프레스+데드리프트
print("당신의 3대운동 1RM의 합은 %s입니다."%삼대운동)

In [ ]:
# %s는 문자열로 인식하기 때문에 모두 처리 가능하다!

In [ ]:
# 문자열 내장 함수
# 문자열 뒤에 '.'를 붙인 다음 함수이름()을 입력하여 사용한다.

In [1]:
# 문자 개수 세기(Count)
a = "명지대학교"
a.count('명')

1

In [27]:
# 고급 문자열 포매팅
print("I can eat {0} apples".format(3))
print("I can eat {0} apples".format('five'))
print("I can eat {0} apples".format(3.14))

I can eat 3 apples
I can eat five apples
I can eat 3.14 apples

In [30]:
num = 3
"I can eat {0} apples".format(num)

'I can eat 3 apples'

In [31]:
# 고급 문자열 포매팅 여러 값 대입
"I can eat {0} apples {1}".format(3, "yesterday")

'I can eat 3 apples yesterday'

In [36]:
# 문자 찾기 (find)
a = "Python is the best"
print(a.find('i'))
print(a.find('z)')) #찾는 문자 없으면 -1 반환

7
-1

In [40]:
# 문자 찾기 (index)
print(a.index('i'))
print(a.index('z')) # vallueError 발생 find와 차이점!

7

ValueError: substring not found

In [42]:
# 문자열 바꾸기 (replace)
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [44]:
# 문자열 나누기(split)
phone = "010-2101-5291"
phone.split('-')

['010', '2101', '5291']

In [45]:
name = "김동현"
fruit = '바나나'

print("%s는 %s를 좋아합니다."%(name,fruit))

김동현는 바나나를 좋아합니다.

In [46]:
# 리스트(list)
# 모든 자료형들(숫자, 문자열, 리스트 등...의 모임을 표현)
# 대괄호 []로 감싸주어 생성
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [47]:
중첩괄호 = [1,2,['a','b'],3]
중첩괄호

[1, 2, ['a', 'b'], 3]

In [59]:
# 리스트 인덱싱
print(중첩괄호[0])
print(중첩괄호[2])
print(중첩괄호[2][1])
print(중첩괄호[-1])

1
['a', 'b']
b
3

In [61]:
# 리스트 슬라이싱

a = [1,2,3,4,5]
print(a[0:2])
print(a[:])

[1, 2]
[1, 2, 3, 4, 5]

In [68]:
# 중첩 리스트 슬라이싱
a = [1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3])
print(a[3][1])
print(a[3][1:3])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
b
['b', 'c']

In [69]:
# 리스트 역시 문자열 처럼 + 를 이용하여 합칠 수 있다.
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [71]:
# 리스트 역시 * 가능
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [74]:
# 리스트 원소 수정(변경과 삭제)
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [77]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [79]:
# 리스트 원소 삭제
a = [1,'b',4]
del a[1]
a

[1, 4]

In [80]:
# 리스트 함수 
# 리스트.함수이름() 으로 사용

In [85]:
# 리스트 요소 추가 (append)
a = [1,2,3]
a

[1, 2, 3]

In [86]:
a.append(4)
a

[1, 2, 3, 4]

In [87]:
a.append([4,5])
a

[1, 2, 3, 4, [4, 5]]

In [88]:
a.append(['hello'])

In [89]:
a

[1, 2, 3, 4, [4, 5], ['hello']]

In [90]:
# 모든 자료형 가능!!

In [96]:
# 리스트 정렬

a = [1,4,2,3]
a.sort()               #오름차순
print(a)
a.sort(reverse = True) #내림차순
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [99]:
# 리스트확장(extend)
a = [1,2,3]
a.extend([4,5])

In [100]:
a

[1, 2, 3, 4, 5]

In [101]:
# 리스트의 마지막에 리스트 확장

In [102]:
# 딕셔너리(Dictionary)
#사전 처럼 대응 관계를 가지고 있는 자료형
# 예) "손흥민":"축구","류현진":"야구".......
# 대괄호로 생성{}

In [103]:
dic = {'name':'김동현','phone':'010-2101-5291'}
dic

{'name': '김동현', 'phone': '010-2101-5291'}

In [117]:
# 주의할 점 딕셔너리는 순서의 개념이 없기 때문에 KEY값 1은 찾은것 절대 순서 1이 아님!!
a = {1:'a',2:'b'}
a[1]

'a'

In [105]:
a = {1:'a'}
a

{1: 'a'}

In [106]:
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [107]:
# 추가되는 순서 등은 중요하지 않음, 무엇을 추가 하였는가의 의미를 가짐

In [113]:
a

{1: 'a', 2: 'b'}

In [118]:
del a[1]  # del함수 이용 딕셔너리 원소 삭제

In [119]:
a

{2: 'b'}

In [120]:
# 딕셔너리 주의사항!! 키값은 고유해야 한다. 키값으로 리스트는 사용할 수 없다.

In [123]:
# 딕셔너리 키값 가져오기 (keys)
a = {'name':'Kim','phone':'010-2101-5291'}
a.keys()

dict_keys(['name', 'phone'])

In [124]:
a_keys = a.keys()
a_keys

dict_keys(['name', 'phone'])

In [126]:
# a의 key값들을 리스트로 변환하는 함수
a_key_list = list(a.keys())
a_key_list

['name', 'phone']

In [128]:
# value값 가져오기 (values)
a.values()

dict_values(['Kim', '010-2101-5291'])

In [129]:
# key, value 쌍 얻기(items)
a.items()

dict_items([('name', 'Kim'), ('phone', '010-2101-5291')])

In [130]:
#특정 key가 있는지 조사(in), 문자열과 리스트에서도 가능!!
'name' in a

True

In [131]:
# if문(조건문)
# 조건을 판단해서 각 상황에 맞게 처리
# 택시 탈 돈이 있으면, 택시를 타고 가고 돈이 없으면 걸어가라
money = 1000
if money > 3000:
    print("택시타세요")
else:
    print("걸어가세요")

걸어가세요

In [133]:
# 예제 
# review = "이 강의가 제일 좋아!"일 때 
# review에 들어있는 단어 수가 2개 이상이면, "정상 리뷰입니다."를 출력
# 그렇지 않으면, "비정상 리뷰입니다." 를 출력하는 코드 작성

In [147]:
review = "이 강의가 제일 좋아!"
if len(review.split()) >=2:
    print("정상 리뷰입니다.")
else:
    print("비정상 리뷰입니다.")

정상 리뷰입니다.

In [148]:
# 돈이 3000원 이상 있거나 풀러줄 시계가 있다면 택시를 타고 그렇지 않으면 걸어가라
money = 3000
watch = 0

if money >= 3000 or watch == 1:
    print("택시")
else:
    print("도보")

택시

In [150]:
# 주머니에 돈이있으면 택시를 타고 없으면 걸어가라
pocket = ['money', 'phone', 'laptop']

if 'money' in pocket:
    print("택시")
else:
    print("도보")

택시

In [152]:
# 다중조건 elif
# 지갑에 돈이 있으면 택시, 돈은 없지만 시계가 있으면 택시, 돈도 없고 시계도 없으면 도보
wallet = ['papey','phone','money']

if 'money' in wallet:
    print("택시")
elif 'money' not in wallet and 'watch' in wallet:
    print("택시")
elif 'money' and 'watch' not in wallet:
    print('도보')

택시

In [1]:
# if 문 예제
# words = ['like','poitive','unhappy']
# 부정적인 단어가 있으면 긍정적인 단어로 변경하는 코드 작성

words = ['like','poitive','unhappy']

if "unlike" in words:
    a = words.index("unlike")
    words[a]="like"
elif "negative" in words:
    b = words.index("negative")
    words[b]="positive"
elif "unhappy" in words:
    c = words.index("unhappy")
    words[c]="happy"
print(words)

# index를 이용
# words.index("unhappy") = 2 를 반환
# words[2] = "like"  => words리스트의 3번째 원소를 "like"로 수정

['like', 'poitive', 'happy']

In [189]:
a = [1,2,3]
for i in a:
    print(i)

1
2
3

In [192]:
a = 'management'

for i in a:
    print(i)

m
a
n
a
g
e
m
e
n
t

In [207]:
# 총 5명의 학생의 시험 점수에 대해서 60점이 넘으면 합겨기고 그렇지 않으면 불합격이다. 
# 합격인지 불합격인지에 대한 결과를 보여준다. 개인 간 구분은 몇 번째 학생인지 표시한다.
marks = [90,25,67,45,80]
number = 0

for i in marks:
    number += 1
    if i >= 60:
        print("%s번째 학생은 합격입니다."%number)
    else:
        pass

1번째 학생은 합격입니다.
3번째 학생은 합격입니다.
5번째 학생은 합격입니다.

In [6]:
# for 과 continue

marks = [90, 25, 67, 45, 80]

number = 0
for i in marks:
    number += 1
    if i < 60:
        continue
    else:
        print("%s번 학생 축하합니다."%number)

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [9]:
# for과 range 함수
# range라는 숫자 리스트를 자동으로 만들어주는 함수
# range(끝번호+1) : 0번부터 끝번호 까지의 숫자 생성
# range(시작번호,끝번호+1): 시작번호 부터 끝번호 까지의 숫자 생성

a = range(11)
print(a)
print(list(a))

b = range(5,11)
print(list(b))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]

In [18]:
# 1부터 10까지 더하는 코드를 작성하라
sum=0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [20]:
# for range를 이용하여 60점 이사인 사람에게는 축하메세지를 보내고, 나머지 사람에게는 아무런 메세지를 보내지 않는 코드작성
marks = [90, 25, 67, 45, 80]

for i in range (len(marks)):
    if marks[i] < 60:
        continue
    else:
        print("%s번째 학생 축하합니다"%i)

0번째 학생 축하합니다
2번째 학생 축하합니다
4번째 학생 축하합니다

In [31]:
# for문을 이용하여 자연수 N을 입력받아 1부터 N까지 하나씩 출력하는 프로그램 작성하시오
n = int(input())

for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

In [38]:
# while문 이용하여 자연수 N을 입력받아 1부터 N까지 하나씩 출력하는 코드 작성
n = int(input())
i = 1
while i <= n:
    print(i)
    i += 1

5
1
2
3
4
5

In [12]:
# 2중 for문을 이용하여 정사각형 5*5 별을 출력하시오
for i in range(5):
    for j in range(5):
        print("*",end= " ")
    print("\n")

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [25]:
# 숫자를 입력받아 해당 구구단 출력
a = int(input())

for i in range(1,10):
    print(a,'X',i,"=",a*i)

3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [38]:
for i in range (5):
    for j in range(1,6):
        print(i*5+j,end=" ")
    print("\n")

1 2 3 4 5

6 7 8 9 10

11 12 13 14 15

16 17 18 19 20

21 22 23 24 25

### 총 5명의 학생의 시험 점수에 대해서, 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지에 대한 결과를 보여준다. 개인 간 구분은 몇 번째 학생인지로 한다.

In [15]:
marks = [90,25,67,45,80]
num = 0

for i in marks:
    num += 1
    if i >= 60:
        print("%s 번째 학생은 합격입니다."%num)
    else:
        print("%s 번째 학생은 불합격입니다."%num)

1 번째 학생은 합격입니다.
2 번째 학생은 불합격입니다.
3 번째 학생은 합격입니다.
4 번째 학생은 불합격입니다.
5 번째 학생은 합격입니다.

In [20]:
sum = 0

for i in range(1,11):
    sum = sum+i
print(sum)

55

## 60점 이상인 사람에게는 축하메세지를 보내고, 나머지 사람에게는 아무런 메세지를 보내지 않는 코드

In [31]:
marks = [90,25,67,45,80]

for i in range(len(marks)):
    if marks[i] < 60:
        continue
    else:
        i += 1
        print("%s번째 학생 축하합니다"%i)

1번째 학생 축하합니다
3번째 학생 축하합니다
5번째 학생 축하합니다

In [36]:
n = int(input())
i = 1

while i <= n:
    print(i)
    i+=1

3
1
2
3

In [40]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"X",j,"=",i*j,end="  ")
    print("\n")

2 X 1 = 2  2 X 2 = 4  2 X 3 = 6  2 X 4 = 8  2 X 5 = 10  2 X 6 = 12  2 X 7 = 14  2 X 8 = 16  2 X 9 = 18

3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27

4 X 1 = 4  4 X 2 = 8  4 X 3 = 12  4 X 4 = 16  4 X 5 = 20  4 X 6 = 24  4 X 7 = 28  4 X 8 = 32  4 X 9 = 36

5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45

6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54

7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63

8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72

9 X 1 = 9  9 X 2 = 18  9 X 3 = 27  9 X 4 = 36  9 X 5 = 45  9 X 6 = 54  9 X 7 = 63  9 X 8 = 72  9 X 9 = 81

### 음수가 들어올 때까지 숫자를 계속 읽어서 리스트에 저장하는 코드를 작성하시오

In [5]:
a = []

while True:
    c = int(input())
    if c < 0:
        break
    else:
        a.append(c)
a

3
5
6
7
-1

[3, 5, 6, 7]

In [10]:
for i in range(5):
    for j in range(5):
        print("*",end="    ")
    print("\n")

*    *    *    *    *

*    *    *    *    *

*    *    *    *    *

*    *    *    *    *

*    *    *    *    *

In [23]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end="  ")
    print('\n')

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

In [25]:
# 함수작성

candidate_num = [10, 15, 5, 30, 25, 20]
max = 0

for i in candidate_num:
    if i > max:
        max = i
    else:
        pass
print(max)

30

In [27]:
def sum(x,y):
    return x+y

a = 3
b = 2
sum(a,b)

5

In [29]:
def say():
    return("Hello")

say()

'Hello'

In [ ]:
# 입력값이 많은 경우

In [ ]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

result = sum_many(1,2,3)
print(result)

result2 = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result2)

In [31]:
def 곱셈(*args):
    a = 1
    for i in args:
        a = a*i
    return a

곱셈(1,2,3)

6

In [32]:
def sum_mul(choice, *args):
    if choice =="sum":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result
    
result = sum_mul('sum',1,2,3,4,5)
print(result)
result = sum_mul('mul',1,2,3,4,5)
print(result)

15
120

In [35]:
def sum_mul(choice, *args):
    if choice =="sum":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result
    
result = sum_mul('sum',1,2,3)
print(result)

6

In [1]:
def sum(a,b):
    result = a+b
    return result

sum(2,3)

5

In [2]:
def mul(x,y):
    result = x*y
    return result

mul(5,5)

25

In [8]:
def sum_many(*args):
    sum=0
    for i in args:
        sum = sum + i
    return sum
sum_many(2,4,6)

12

In [9]:
def mul_many(*args):
    mul = 1
    for i in args:
        mul = mul*i
    return mul
mul_many(2,2,2)

8

In [12]:
# choice를 이용한 선택 함수
def sum_mul(choice, *args):
    if choice == "sum":
        result = 0
        for i in args:
            result = result + i
        return result
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
        return result
sum_mul('mul',1,2,3)

6

In [14]:
# return 문을 이용해서 함수 빠져나가기
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s 입니다." % nick)

In [17]:
# 입력 인자의 초기값 설정하기

def say_myself(name, old, gender = 1):
    print("나의 이름은 %s입니다."%name)
    print("나이는 %d살입니다."%old)
    
    if gender:
        print("남성입니다.")
    else:
        print("여섭입니다.")
        
say_myself("김동현",24,1)

나의 이름은 김동현입니다.
나이는 24살입니다.
남성입니다.

In [19]:
def say_myMajor(major,old,gender=1):
    print("나의 전공은 %s 입니다."%major)
    print("나이는 %d살 입니다."%old)
    
    if gender:
        print("남자입니다.")
    else:
        print("여자입니다.")
        
say_myMajor("경영정보학과",24,1)

나의 전공은 경영정보학과 입니다.
나이는 24살 입니다.
남자입니다.

In [21]:
#a,b 두개의 숫자를 받아서 "sum", "sub", "mul", "div"를 값으로 하는
#"cal" 이라는 입력 인자에 따라서 더하기 빼기 곱하기 나누기를 수행하여
#결과를 돌려주는 calculator 함수를 작성해보자

def calculator(x,y,cal):
    if (cal == "sum"):
        return x+y
    elif (cal == "mul"):
        return x*y
    elif (cal == "div"):
        return x/y
    else:
        return x-y
a=int(input())
b=int(input())
cal=input()
calculator(a,b,cal)

2
3
mul

6

In [30]:
nums = [2,4,1,3,5]

def min_num():
    min = 999
    for i in nums:
        if i < min:
            min = i
    return min
print("최소값은 %s 입니다."%min_num())

최소값은 1 입니다.

In [31]:
nums = [2,6,5,7,8,3,2]

def max_num():
    max = 1
    for i in nums:
        if i > max:
            max = i
    return max
print("최대값은 %s입니다."%max_num())

최대값은 8입니다.

In [32]:
# 로또 난수 함제
import random as r

In [33]:
def lotto():
    return r.randrange(1,46)

lotto_nums = []

while len(lotto_nums) < 6:
    lotto_num = lotto()
    if lotto_num not in lotto_nums:
        lotto_nums.append(lotto_num)

lotto_nums.sort()
print(lotto_nums)

[5, 13, 19, 23, 29, 44]

In [34]:
# 내장함수
#abs, max, min, int, str, list, len, type

In [36]:
import pandas as pd

In [37]:
# enumerate 순서형 자료형(문자열, 리스트, 튜플)을 입력으로 받아서
# 첫번째 값으로 인덱스를 두번째 값으로 해당되는 원소값을 
# enumerate 객체로 돌려주는 함수

In [38]:
for i,j in enumerate(['body','foo','bar']):
    print(i,j)

0 body
1 foo
2 bar

In [40]:
korean_score = [20,40,60]
list(enumerate(korean_score))

[(0, 20), (1, 40), (2, 60)]

In [41]:
# zip() 동일한 개수의 원소값을 갖는 순서혀 자료형(문자열, 리스트, 튜플)을 묶어주는 역할
# 열단위를 행단위로 묶어줌

In [44]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [50]:
list_x = ["x1","x2","x3"]
list_y = ["y1","y2","y3"]
list(zip(list_x,list_y))

[('x1', 'y1'), ('x2', 'y2'), ('x3', 'y3')]

In [51]:
list_x = ["x1","x2","x3"]
list_y = ["y1","y2","y3"]
for x,y in zip(list_x,list_y):
    print(x,y)

x1 y1
x2 y2
x3 y3

In [52]:
# lambda
# 함수에 대한 이름을 선언하지 않고 한 줄로 간결하게 함수를 생성

In [54]:
def plus_ten(x):
    return x+10
plus_ten(1)

11

In [55]:
plus_ten = lambda x:x+10
plus_ten(1)

11

In [56]:
mul_ten = lambda x:x*10
mul_ten(5)

50

In [57]:
f = lambda x:x**2
f(3)

9

In [58]:
# if_else filter 를 사용하여서 보다 구체적인 함수도 표현 가능
# 반드시 if 와 else 를 함께 사용해야함.

In [59]:
even_power = lambda x:x**2 if x % 2 == 0 else x
# 짝수면 제곱값, 아니면 x값 출력
print(even_power(2))

4

In [60]:
# map()
# 함수와 순서형 자료형(문자열, 리스트, 튜플)을 입력으로 받아서 각 원소를
# 해당 함수에 차례대로 넣어 반환되는 결과값을 묶어 돌려주는 함수
# lambda 함수와 주로 함께 사용!!
# 각 원소에 동일한 함수를 적용시킴
# map(함수이름, 순서형 자료형)

In [61]:
ex = [1,2,3,4,5]
f = lambda x:x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [63]:
def add(n,m):
    return n+m
print(add(2,3))

#람다식 표현
add = lambda x,y : x+y
print(add(2,3))

5
5

In [67]:
# 양수를 입력받던 음수를 입력받던 항상 음수의 값으로
# 출력하는 람다함수 생성

In [69]:
minus_num = lambda x:-abs(x)
print(minus_num(3))
print(minus_num(-3))

-3
-3

In [70]:
# 두 수 중 큰 수를 반환하는 람다 함수를 작성하시오
# 이 함수를 활용하여 두 수를 입력받아 큰 수를 출력하시오.

In [72]:
big_num = lambda x:max(x)
big_num(input("숫자를 두개 입력하세요"))

숫자를 두개 입력하세요3,4

'4'

In [74]:
print("영어점수를 입력하세요")
eng_score= [int(input()) for i in range(5)]

print("수학점수를 입력하세요")
math_score= [int(input()) for i in range(5)]

bonus = lambda x:x+5 if x>=90 else x

print("--------")
for x,y in zip (eng_score,math_score):
    print(bonus(x),bonus(y))

영어점수를 입력하세요
50
60
70
90
10
수학점수를 입력하세요
100
50
30
80
670
--------
50 105
60 50
70 30
95 80
10 675

In [36]:
# 정수를 입력받아 1부터 그 수까지의 총합을 출력하시오.
sum=0
input_num = int(input())

for i in range(1,input_num+1):
    sum = sum + i
print(sum)

10
55

In [33]:
sum=0
for i in range(1,11):
    sum = sum + i
print(sum)

55