# map

----

map함수는 DataFrame의 `Series`타입을 Input으로 받습니다.

따라서 map함수를 이용하면 Series를 대상으로 원하는 함수를 적용할 수 있습니다.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"age":[30,25,25,12,40],
                  "height":[178,180,160,140,176],
                  "weight":[80,100,55,40,70]})

df

   age  height  weight
0   30     178      80
1   25     180     100
2   25     160      55
3   12     140      40
4   40     176      70

In [4]:
df['weight(pound)'] = df['weight'].map(lambda x: x*2.205)
df

   age  height  weight  weight(pound)
0   30     178      80        176.400
1   25     180     100        220.500
2   25     160      55        121.275
3   12     140      40         88.200
4   40     176      70        154.350

위처럼 lambda 함수를 이용해 특정 시리즈(컬럼)에 대해 원하는 함수를 적용해 새로운 컬럼을 생성할 수 있습니다.

# apply

----

apply 함수는 map함수와 다르게 `전체 Series(컬럼)를 대상`으로 원하는 함수를 적용합니다.

In [5]:
df.apply(lambda x: x.max()-x.min())

age               28.0
height            40.0
weight            60.0
weight(pound)    132.3
dtype: float64

위의 결과를 보면 알 수 있듯이 전체 컬럼에 대하여 최댓값 - 최솟값을 구하는 함수를 적용했습니다.

이를 이용하면 전체 컬럼에 대해 특정 함수를 적용해 빠른 Summary가 가능하다는 장점이 있습니다.

추가적으로 apply함수는 axis 인자를 이용하여 원하는 축 방향에 따라 함수를 적용할 수 있습니다.

In [6]:
df.apply(sum, axis=0) # axis=0 은 디폴트(), 행방향

age              132.000
height           834.000
weight           345.000
weight(pound)    760.725
dtype: float64

In [7]:
df.apply(sum, axis=1) # 열방향

0    464.400
1    525.500
2    361.275
3    280.200
4    440.350
dtype: float64

# applymap

-----

applymap 함수는 DataFrame의 모든 element에 대해 원하는 함수를 적용합니다.
따라서 axis와 같은 인자는 사용되지 않습니다.

In [9]:
df.applymap(lambda x:-x)

   age  height  weight  weight(pound)
0  -30    -178     -80       -176.400
1  -25    -180    -100       -220.500
2  -25    -160     -55       -121.275
3  -12    -140     -40        -88.200
4  -40    -176     -70       -154.350