# Flatten Layer를 활용한 이미지 학습

In [1]:
import tensorflow as tf
import pandas as pd

# with reshape

In [12]:
# 데이터를 준비하고

(train_x, train_y), _ = tf.keras.datasets.mnist.load_data()
print(train_x.shape, train_y.shape)

# 28X28 사이즈의 이미지가 6만장, 레이블이 6만개
# 현재는 둘다 표의 형태가 아니기 때문에 표의 형태로 변경합니다.

train_x = train_x.reshape(60000, -1)
train_y = pd.get_dummies(train_y) # 원핫 인코딩

print(train_x.shape, train_y.shape) # 784개의 컬럼을 가진 독립변수, 10개의 컬럼을 가진 종속변수

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [14]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation="swish")(X)
Y = tf.keras.layers.Dense(10, activation="softmax")(H) # 분류 레이어

model = tf.keras.models.Model(X, Y)
model.compile(loss="categorical_crossentropy", metrics="accuracy")

In [16]:
# 모델을 학습하고

model.fit(train_x, train_y, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 3s 1ms/step - loss: 0.5784 - accuracy: 0.9125
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4794 - accuracy: 0.9286
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4498 - accuracy: 0.9356
Epoch 4/10
1875/1875 [==============================] - 3s 1ms/step - loss: 0.4128 - accuracy: 0.9414
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3760 - accuracy: 0.9465
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.3765 - accuracy: 0.9487
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3460 - accuracy: 0.9512
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3428 - accuracy: 0.9515
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3271 - accuracy: 0.9552
Epoch 10/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.3291 - accuracy: 0.9565

정확도 약 95%

In [19]:
# 모델을 이용합니다.

pred = model.predict(train_x[0:5])

# 좀 더 예쁘게 출력하려면?

pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [20]:
train_y[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# with flatten

이미지 데이터를 한줄로 펴주는 작업을 reshape을 통해서 하지 않습니다.

In [21]:
# 데이터를 준비하고

(train_x, train_y), _ = tf.keras.datasets.mnist.load_data()
print(train_x.shape, train_y.shape)

# 28X28 사이즈의 이미지가 6만장, 레이블이 6만개

train_y = pd.get_dummies(train_y) # 원핫 인코딩

print(train_x.shape, train_y.shape) # 784개의 컬럼을 가진 독립변수, 10개의 컬럼을 가진 종속변수

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [22]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28]) # 바뀐 부분
H = tf.keras.layers.Flatten()(X) # 이미지 데이터를 한줄로 펴주는 히든레이어
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H) # 분류 레이어

model = tf.keras.models.Model(X, Y)
model.compile(loss="categorical_crossentropy", metrics="accuracy")

In [23]:
# 모델을 학습하고

model.fit(train_x, train_y, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 2s 912us/step - loss: 3.2872 - accuracy: 0.8587
Epoch 2/10
1875/1875 [==============================] - 2s 1ms/step - loss: 0.6135 - accuracy: 0.9100
Epoch 3/10
1875/1875 [==============================] - 2s 919us/step - loss: 0.4827 - accuracy: 0.9294
Epoch 4/10
1875/1875 [==============================] - 2s 931us/step - loss: 0.4293 - accuracy: 0.9362
Epoch 5/10
1875/1875 [==============================] - 2s 937us/step - loss: 0.3905 - accuracy: 0.9427
Epoch 6/10
1875/1875 [==============================] - 2s 1ms/step - loss: 0.3946 - accuracy: 0.9479
Epoch 7/10
1875/1875 [==============================] - 2s 991us/step - loss: 0.3643 - accuracy: 0.9505
Epoch 8/10
1875/1875 [==============================] - 2s 998us/step - loss: 0.3651 - accuracy: 0.9502
Epoch 9/10
1875/1875 [==============================] - 2s 981us/step - loss: 0.3512 - accuracy: 0.9537
Epoch 10/10
1875/1875 [==============================] - 2s 980us/step - loss: 0.3274 - accuracy: 0.9543

In [24]:
# 모델을 이용합니다.

pred = model.predict(train_x[0:5])

# 좀 더 예쁘게 출력하려면?

pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

이번 과정에서는 특징 자동추출기라는 부분이 초점을 맞춘것이고 픽셀을 한줄로 펴고 새로운 특징 84개를 컴퓨터가 스스로 찾은 특징을 이용해 10개의 숫자 이미지를 분류하는 모델입니다.