# Convolution Layer

In [1]:
import tensorflow as tf
import pandas as pd

In [6]:
# 데이터를 준비하고 

(train_x, train_y), _ = tf.keras.datasets.mnist.load_data()
print(train_x.shape, train_y.shape)

# Convolution Layer는 이미지 하나의 모양이 3차원이어야 합니다.

train_x = train_x.reshape(60000, 28, 28, 1)
train_y = pd.get_dummies(train_y)

print(train_x.shape, train_y.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [8]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H) # 표의 형태로 flatten
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H) # 10개의 분류

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [9]:
# 모델을 학습하고
model.fit(train_x, train_y, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.4794 - accuracy: 0.9243
Epoch 2/10
1875/1875 [==============================] - 15s 8ms/step - loss: 0.0875 - accuracy: 0.9758
Epoch 3/10
1875/1875 [==============================] - 15s 8ms/step - loss: 0.0541 - accuracy: 0.9843
Epoch 4/10
1875/1875 [==============================] - 15s 8ms/step - loss: 0.0364 - accuracy: 0.9895
Epoch 5/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.0286 - accuracy: 0.9923
Epoch 6/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.0219 - accuracy: 0.9938
Epoch 7/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.0197 - accuracy: 0.9948
Epoch 8/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.0156 - accuracy: 0.9955
Epoch 9/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.0148 - accuracy: 0.9962
Epoch 10/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.0148 - accuracy: 0.9961

In [10]:
# 모델을 이용합니다.
pred = model.predict(train_x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [11]:
train_y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [12]:
# 모델의 모양
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________